@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Poppins:wght@200&family=Roboto&display=swap');

body{
    font-family: 'montserrat', sans-serif;
}

#heroimg{
    border-radius: 50%;
}

.header{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0)), url("img/library-bkg.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.services{
    background-color: white;
}

#catalog{
    background-image: url(img/catalog.png);
}

#usermanage{
    background-image: url(img/manage.jpg);
    background-position: center;
    background-size: cover;
}

#circulation{
    background-image: url(img/circulation.jpg);
    background-position: center;
    background-size: cover;
}

#footer {
    background-color: black;
}

#links{
    text-decoration: none;
}

div.copyright {
    background-color: black;
    padding: 15px 0px;
}

div.copyright p{
    font-size: small;
    color: white;
    text-align: center;
}